# bash vars:

start_recording_filepath=/home/pi/Desktop/dash_cam_1.8.2/bin/start_video_recording.py
limit_folder_size_filepath=/home/pi/Desktop/dash_cam_1.8.2/bin/limit_folder_size.sh

# folder to limit:
folder_to_limit=/media/pi/7CE1-C1B0/videos/

# limit to %
limit_percent=80

# usb to use (mountpoint):
usb_mountpoint=/media/pi/7CE1-C1B0/videos/






# python vars:

# destination:
/media/pi/7CE1-C1B0/videos/

## file lenght in seconds, (300 is 5 minutes):
#300
